doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0')
    meta(name='mobile-web-app-capable', content='yes')
    title #{title}
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/main.css')

  body(id='body')
    div(id="root")
      .art-bg

      .art.art-charged

      .counters-wrap
        .counter-wrap
          .counter
            .counter-value 15
              sup.counter-unit м2
          .counter-text #{i18n.CounterAreaLabel}
        .counter-wrap
          .counter
            .counter-value 38
              sup.counter-unit %
          .counter-text #{i18n.CounterBatteryLabel}
        .counter-wrap
          .counter
            .counter-value 14‘
          .counter-text #{i18n.CounterTimeLabel}
      
      .buttons-wrap
        .mode-switch-label #{i18n.CleanupModeLabel}
        .mode-switch-label {{message}}
        .mode-switch-wrap
          button.button-switch.button-switch-left.button-switch-active #{i18n.ModeSweeping}
          button.button-switch.button-switch-right #{i18n.ModeMopping}

        button.button.button-primary #{i18n.StartCleanupButton}

  script(src='/js/main.js')